
.carousel-item>img {
    image-rendering: optimizeQuality;
    display: flex;
    justify-content: center;
    margin: auto;
    border: .8mm;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.377);
    border-radius: 5mm;
    position: relative;
    object-fit: cover;
    opacity: 1;
    
    
}

@media only screen and (min-width: 1301px) {
    .carousel-item>img {
        width: 80%;
        height: 480px;
    }
}

.carousel {
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.carousel-control-prev, .carousel-control-next {
    width: 50%;
}


@media only screen and (min-width: 200px) and (max-width: 699px) {
    .carousel-item>img {
        width: 100%;
        height: 200px;
    }
    .carousel-control-prev, .carousel-control-next {
        width: auto;
    }
    .carousel {
        margin-top: 40%;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1300px) {
    .carousel-item>img {
        width: 100%;
        height: 400px;
    }
    .carousel-control-prev, .carousel-control-next {
        width: auto;
    }
    .carousel {
        margin-top: 20%;
    }
} 